<!DOCTYPE html>
<html lang="es">
    <!-- The main page of the chatbot, where the user can interact with the bot. -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="login-container">
        <form action="/submit-your-login-form" method="POST">
            <h2>Iniciar Sesión</h2>
            <div class="input-group">
                <label for="username">User</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button class="button" type="submit">Entry</button>
        </form>
        <form action="/submit-your-registration-form" method="POST">
            <h2>Registrer</h2>
            <div class="input-group">
                <label for="username">User</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button class="buttonR" type="submit">Registrer</button>
        </form>
    </div>
</body>
</html>